[Unit]
Description=aiohttp service to run api
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/safety-api
Environment="PATH=/home/ubuntu/safety-api/venv/bin"
ExecStart=/home/ubuntu/safety-api/venv/bin/python /home/ubuntu/safety-api/aiohttp_run.py --path=/tmp/example_%i.sock
[Install]
WantedBy=multi-user.target